/* .place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-right {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-right h2 {
    margin-bottom: 40px;
}

.place-order-right .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-right input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-right .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

@media(max-width:750px) {
    .place-order {
        flex-direction: column;
    }
} */

.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-right {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-right h2 {
    margin-bottom: 40px;
}

.place-order-right .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-right input {
    margin-bottom: 5px;
    width: 80%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

/* .place-order-right .multi-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
} */

.place-order-left {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

form button {
    background-color: white;
    color: tomato;
    border: none;
    outline: 1px solid tomato;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

form button:hover {
    background-color: tomato;
    color: white;
}

.card-element-container {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: white;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    width: 80%;
}

.card-element-container:focus-within {
    box-shadow: 0 0 0 2px #80bdff;
}

.error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
}

.submit-button {
    width: 80%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.sign-in-message {
    display: block;
    text-align: center;
    color: red;
    margin-top: 30px;
    font-size: 1.5rem;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 2px;
}

@media(max-width:750px) {
    .place-order {
        flex-direction: column;
    }

    .submit-button {
        width: 100%;
    }

    .card-element-container {
        width: 100%;
    }

    .place-order-right input {
        width: 100%;
    }
}