.food-cart-item {
    width: 100%;
    max-height: 400px;
    /* margin: auto; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    animation: fadeIn 1s;
}

.food-cart-item-img {
    display: block;
    width: 100%;
    max-height: 300px;
}

.food-cart-item-info {
    padding: 20px;
}

.food-cart-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-cart-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-cart-item-name-rating img {
    width: 70px;
}

.food-cart-item-description {
    color: #676767;
    font-size: 15px;
}

.food-cart-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.food-cart-item .right-arrow {
    transition: all 0.2s ease-in;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.food-cart-item:hover .right-arrow {
    transform: translateX(5px);
    background-color: rgba(255, 99, 71, 0.247);
}

.food-cart-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
}

.food-cart-item-img-container {
    position: relative;
}

.food-cart-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-cart-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-cart-item-counter img {
    width: 30px;
}


.card {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}